@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 80vw;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #357af1;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #357af1;
}
.content {
  max-width: 60vw;
  margin: 40px auto;
  padding: 20px;
}

.home > * {
  margin: 20px;
}

/*blog previews/list*/
.blog-preview {
  padding: 20px 26px;
  margin: 20px 0;
  border: 1px solid lightblue;
  border-radius: 10px;
  border-bottom: 1px solid #fafafa;

}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #346bc9;
  margin-bottom: 8px;
  text-align: center;
}

.blog-preview p{
  margin-top:5%;
}

.blog-preview button{
  padding: 8px 14px ;
  background-color: #fb6a6a;
  border: 1px solid lightblue;
  border-radius: 5px;
  float: right;
}
.blog-preview button:hover{
  background-color: #e00909;
  border: 1px solid #fafafa;
  color:#fafafa;
}
/* Loading */
#loading-container {
  margin-top: 20vh;
  font-size: 2vw;
  font-weight: bold;
}

/*Error */

.error{
  color: rgb(255, 255, 255);
  background-color: #fb9d9d;
  border: 1px solid ;
  padding: 20px 10px;
  font-weight: bold;
  border-radius: 15px;
}
